<%= render 'cadet_area/header', page: :flight %>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class='panel panel-default'>
      <div class='panel-body'>
        <table class="table table-hover datatable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of cadets</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @flights.each do |flight| %>
              <tr class="clickable" data-link="<%= flight_path(flight) %>">
                <td><%= flight.name %></td>
                <td><%= flight.cadets.count %></td>
                <td>
                  <span class='hover-btn'>
                    <%= link_to icon('pencil-square-o fa-lg'), edit_flight_path(flight) if policy(flight).edit? %>
                    <%= link_to icon('minus fa-lg'), flight, method: :delete, data: { confirm: 'Are you sure?' } if policy(flight).destroy? %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% if policy(Flight).new? %>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
      <%= link_to 'New Flight', new_flight_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.datatable').DataTable({});
</script>
