= render 'cadet_area/header', page: :flight
.row
  .col-md-offset-3.col-md-6
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Number of cadets
          %th Actions
      %tbody
        - @flights.each do |flight|
          %tr{policy(flight).show? ? {"data-link": "#{flight_path(flight)}", style: "cursor: pointer;"} : {}}
            %td= flight.name
            %td= flight.cadets.count
            %td
              = link_to icon('pencil-square-o'), edit_flight_path(flight) if policy(flight).edit?
              = link_to icon('minus'), flight, method: :delete, data: { confirm: 'Are you sure?' } if policy(flight).destroy?
- if policy(Flight).new?
  .row
    .col-md-offset-3.col-md-6.text-center
      = link_to 'New Flight', new_flight_path, class: 'btn btn-primary'
