.row
  .col-md-offset-3.col-md-6
    .panel.panel-default
      .panel-heading
        %h3 #{@flight.name} Flight
      .panel-body
        .row
          .col-md-12
          %p
            %strong
              Commander:
            = cc = @flight.cadets.with_role(:cc, @flight).take.name
          %p
            %strong
              Cadets
          %table.table.table-hover
            %thead
              %tr
                %th Name
                %th Email
                %th Phone
            %tbody
            - @flight.cadets.each do |cadet|
              - unless cadet.name == cc
                %tr
                  %td= cadet.name
                  %td= cadet.email
                  %td= cadet.phone_number
.row
  .col-sm-6.text-left
    = link_to 'Return to flights', flights_path, class: 'btn btn-default'          
  .col-sm-6.text-right
    = link_to 'Edit flight', edit_flight_path(@flight), class: 'btn btn-link'