= render 'cadet_area/header', page: :user
.row
  .col-md-offset-3.col-md-6
    - attributes = %w(name email title roles phone_number)
    %table.table.table-hover
      %thead
        %tr
          %th Name
          %th Email
          %th Roles
          %th Status
          %th Actions
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.email
            %td= user.roles.map { |r| r.cc ? "#{r.name} cc" : r.name }.join("<br>").html_safe
            %td.text-center= user_status(user)
            %td= render 'actions', user: user
.row.text-center
  .col-md-12
    = bootstrap_form_for(User.new, url: user_invitation_path, layout: :inline) do |f|
      .input-group
        = f.email_field :email, placeholder: 'Email', hide_label: true
        %span.input-group-btn
          = f.submit 'Invite new user', class: 'btn btn-primary'