<%= render 'cadet_area/header', page: :user %>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <% if current_user.has_role?(:poc) || current_user.has_role?(:admin) %>
            <th>Status</th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class='clickable' data-link='<%= user_path(user) %>'><%= user.name %></td>
            <td class='clickable' data-link='<%= user_path(user) %>'><%= user.email %></td>
            <td class='clickable' data-link='<%= user_path(user) %>'><%= user.phone_number %></td>
            <% if current_user.has_role?(:poc) || current_user.has_role?(:admin) %>
              <td class='clickable text-center' data-link='<%= user_path(user) %>'><%= user_status(user) %></td>
            <% end %>
            <td>
              <%= link_to icon('pencil-square-o'), edit_user_path(user) if policy(user).edit? %>
              <%= link_to icon('minus'), user, method: :delete, data: { confirm: 'Are you sure?' } if user != current_user && policy(user).destroy? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% if policy(User).new? %>
  <div class="row text-center">
    <div class="col-md-12">
      <%= bootstrap_form_for(User.new, url: user_invitation_path, layout: :inline) do |f| %>
        <div class="input-group">
          <%= f.email_field :email, placeholder: 'Email', hide_label: true %>
          <span class="input-group-btn">
            <%= f.submit 'Invite new user', class: 'btn btn-primary' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
