<%= render 'cadet_area/header', page: :user %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class='panel panel-default'>
      <div class='panel-body'>
        <table class="table table-hover datatable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <% if current_user.has_role?(:poc) || current_user.has_role?(:admin) %>
                <th>Status</th>
              <% end %>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr class='clickable' data-link='<%= user_path(user) %>'>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone_number %></td>
                <% if current_user.has_role?(:poc) || current_user.has_role?(:admin) %>
                  <td><%= user_status(user) %></td>
                <% end %>
                <td>
                  <span class='hover-btn'>
                    <%= link_to icon('pencil-square-o fa-lg'), edit_user_path(user) if policy(user).edit? %>
                    <%= link_to icon('minus fa-lg'), user, method: :delete, data: { confirm: 'Are you sure?' } if user != current_user && policy(user).destroy? %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% if policy(User).new? %>
  <div class="text-center">
    <%= bootstrap_form_for(User.new, url: user_invitation_path, layout: :inline) do |f| %>
      <div class="input-group">
        <%= f.email_field :email, placeholder: 'Email', hide_label: true %>
        <span class="input-group-btn">
          <%= f.submit 'Invite new user', class: 'btn btn-primary' %>
        </span>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $('.datatable').DataTable({});
</script>
