.row
  .col-md-offset-3.col-md-6
    .panel.panel-default
      .panel-heading
        %h3= @user.name
      .panel-body
        %p
          %strong Email:
          = @user.email
        %p
          %strong Roles:
          = @user.roles.pluck(:name).join(', ')
        %p
          %strong LLAB Attendance:
          - attended = @user.events.select { |e| e.category.downcase == 'llab' }.count
          - total = Event.all.select { |e| e.category.downcase == 'llab' }.count
          = "#{attended}/#{total}"
        %p
          %strong PT Attendance:
          - attended = @user.events.select { |e| e.category.downcase == 'pt' }.count
          - total = Event.all.select { |e| e.category.downcase == 'pt' }.count
          = "#{attended}/#{total}"         
    .row
      .col-sm-6.text-left
        = link_to 'Return to users', users_path, class: 'btn btn-default'          
      .col-sm-6.text-right
        = link_to 'Edit user', edit_user_path(@user), class: 'btn btn-link'  