= bootstrap_form_for event do |f|
  = f.text_field :name
  = f.text_field :category
  = f.text_field :location, label: 'Where'
  = f.datetime_local_field :date, label: 'When'
  = f.check_box :mandatory
  = f.submit 'Submit', class: 'btn btn-success', style: 'width:100%;'
