<%= render 'cadet_area/header', page: :event %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class='panel panel-default'>
      <div class='panel-body'>
        <table class="table table-hover datatable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Location</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr class="clickable" data-link="<%= event_path(event) %>">
                <td>
                  <%= event.name %>
                </td>
                <td>
                  <%= event.category %>
                </td>
                <td>
                  <%= event.location %>
                </td>
                <td>
                  <%= local_time(event.date, '%b %d, %H:%M') %>
                </td>
                <td>
                  <span class='hover-btn'>
                    <%= link_to icon('pencil-square-o fa-lg'), edit_event_path(event) if policy(event).edit? %>
                    <%= link_to icon('minus fa-lg'), event, method: :delete, data: { confirm: 'Are you sure?' } if policy(event).destroy? %>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% if policy(Event).new? %>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.datatable').DataTable({});
</script>
