.list-group
  .list-group-item= link_to 'Cadre', '/cadre'
  .list-group-item= link_to 'Prospective Students', '/prospective'
  .list-group-item= link_to 'Photos', '/photos'
  .list-group-item= link_to 'Arnold Air Society', '/aas'
  .list-group-item= link_to 'Drill Team & Color Guard', '/dtcg'
  .list-group-item= link_to 'Links', '/links'       
  .list-group-item= link_to 'Alumni', '/alumni'
  .list-group-item= link_to 'Contact Us', '/contact'