.jumbotron{style: "margin-top: 0; background-image: url('#{image_location}');"}
  .container-fluid
    .row
      .col-sm-2
        - if current_page?('/')
          %img{src: 'det 925 black.png', style: 'width:200px;'}
      .col-sm-10
        %ul#home-links.list-inline.text-center
          %li= link_to 'Cadre', '/cadre'
          %li= link_to 'Prospective Students', '/prospective'
          %li= link_to 'Photos', 'https://www.facebook.com/pg/Flying-Badgers-Detachment-925-126066737404479/photos/'
          %li= link_to 'Arnold Air Society', '/aas'
          %li= link_to 'Drill Team & Color Guard', '/dtcg'
          %li= link_to 'Alumni', '/alumni'