.jumbotron{style: "background-image: url('/cadre2016.jpg');"}
  .container-fluid
    .row
      .col-sm-2
      .col-sm-10
        %ul#home-links.list-inline.text-center
          %li= link_to 'Cadre', '/cadre'
          %li= link_to 'Prospective Students', '/prospective'
          %li= link_to 'Photos', '/photos'
          %li= link_to 'Arnold Air Society', '/aas'
          %li= link_to 'Drill Team & Color Guard', '/dtcg'
          %li= link_to 'Alumni', '/alumni'
.container
  .page-header
    %h1.text-center{style: 'font-weight: normal;'} Detachment Cadre
  %ul.nav.nav-tabs
    %li.active
      %a(data-toggle="tab" href="#goar") Lt Col Goar
    %li
      %a(data-toggle="tab" href="#rose") Capt Petri-Rose
    %li
      %a(data-toggle="tab" href="#mitrosz") Capt Mitrosz
    %li
      %a(data-toggle="tab" href="#hernandez") Tsgt Hernandez
    %li
      %a(data-toggle="tab" href="#greenhow") Tsgt Greenhow
  %br
  .tab-content
    #goar.tab-pane.fade.in.active
      .row
        .col-md-offset-2.col-md-8
          %img.img-responsive.center-block{src: '/cadre/goar.png'}
          %h2.text-center Lieutenant Colonel Gregory J. Goar
          %p
            Lieutenant Colonel Gregory J. Goar is Commander, Air Force ROTC Detachment 925, University of Wisconsin-Madison. He is responsible for leading an active duty cadre in the education and training of future Air Force officers.
          %p
            Lieutenant Colonel Goar graduated and was commissioned through ROTC from the University of Wisconsin-Madison in 1993. Prior to his current assignment, Lieutenant Colonel Goar was the Commander, 313th Expeditionary Operations Support Squadron, Ramstein Air Base, Germany, leading a diverse squadron specializing in command and control, cyber infrastructure, aeromedical evacuation, tactics, intelligence, aircrew flight equipment and asset protection. He was responsible for the safe mission execution of strategic mobility operations throughout Europe, Africa and Southwest Asia.
          %p
            Lieutenant Colonel Goar served in a variety of positions at the squadron, group, and wing levels, and has deployed multiple times in support of Operations SOUTHERN WATCH, ENDURING and IRAQI FREEDOM, and NEW DAWN, twice as the operations officer, 817th Expeditionary Airlift Squadron. He is a senior pilot with over 2,500 hours.
          .panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_goar_education"} Education
              #collapse_goar_education.panel-collapse.collapse
                .panel-body
                  %ul
                    %li May 1997 - June 1997: Basic Training, Lackland AFB, TX
                    %li June 1997 - September 1997: Information Management Technical Training, Keesler AFB, MS
                    %li September 1997 - October 2002: 437 Communications Squadron, Charleston AFB, SC
                    %li October 2002 - April 2007: 3 Air Maintenance Squadron-Armament Flt, Elmendorf AFB, AK
                    %li July 2004 - July 2004: Information Management 7 level Technical Training, Keesler AFB, MS
                    %li August 2005 - January 2006: Communications Squadron, Ali Al Salem, Kuwait
                    %li May 2007 - February 2009: 744 Communications Group, Bolling AFB, DC
                    %li February 2009 - August 2012: 744 Communications Squadron, Andrews AFB, MD
                    %li August 2009 - November 2009: Bragram AB, Afghanistan
                    %li Aug 2012 - Present: AFROTC Detachment 925, University of Wisconsin-Madison, Wisconsin
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_goar_assignments"} Assignments
              #collapse_goar_assignments.panel-collapse.collapse
                .panel-body 
                  %ul
                    %li September 1994 - January 1997: Wing weather officer, Travis Air Force Base, Calif.
                    %li January 1997 - February 1999: Special missions weather officer, 9th Operations Support Squadron and executive officer, 9th Operations Group, Beale Air Force Base, Calif.
                    %li February 1999 - July 2000: Student, Undergraduate Pilot Training, Vance Air Force Base, Okla.
                    %li August 2000 - June 2004: Aircraft commander, flight commander, 15th Airlift Squadron, Charleston Air Force Base, S.C.
                    %li June 2004 - June 2005: Instructor pilot, deputy, wing weapons and tactics, 437th Operations Support Squadron, Charleston Air Force Base, S.C.
                    %li June 2005 - June 2006: Special Operations Low Level II evaluator pilot, deputy, special operations division, 437th Operations Group, Charleston Air Force Base, S.C.
                    %li July 2006 - June 2007: Student, Command and General Staff College, Fort Leavenworth, Kan.
                    %li July 2007 - July 2008: Assistant operations officer, 21st Airlift Squadron, Travis Air Force Base, Calif.
                    %li July 2008 - May 2009: Director, 60th Air Mobility Wing Operations Center, Travis Air Force Base, Calif.
                    %li May 2009 - June 2011: Operations officer, 21st Airlift Squadron, Travis Air Force Base, Calif.
                    %li July 2011 - June 2013: Commander, 313th Expeditionary Operations Support Squadron, Ramstein Air Base, Germany
                    %li June 2013 - Present: Commander, Air Force Reserve Officer Training Corps Detachment 925, University of Wisconsin-Madison, Wisc.
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_goar_awards"} Awards and Decoration 
              #collapse_goar_awards.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Meritorious Service Medal with four oak leaf clusters
                    %li Air Medal with two oak leaf clusters
                    %li Aerial Achievement Medal
                    %li Air Force Commendation Medal with two oak leaf clusters
                    %li Air Force Achievement Medal with two oak leaf clusters
                    %li Joint Meritorious Unit Award
                    %li Air Force Meritorious Unit Award
                    %li Air Force Outstanding Unit Award with valor device and four oak leaf clusters
                    %li Armed Forces Expeditionary Medal
                    %li Kosovo Campaign Medal with bronze star
                    %li Global War On Terrorism Expeditionary Medal
                    %li Global War On Terrorism Service Medal
                    %li Air Force Expeditionary Service Ribbon with two oak leaf clusters               
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_goar_flying"} Flying Experience 
              #collapse_goar_flying.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Senior Pilot
                    %li Total Hours: More than 2,500
                    %li Aircraft: T-37, T-1, C-17A 
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_goar_promotions"} Effective Dates of Promotion
              #collapse_goar_promotions.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Second Lieutenant: 4 May 1994
                    %li First Lieutenant: 4 May 1996
                    %li Captain: 4 May 1998
                    %li Major: 1 June 2004
                    %li Lieutenant Colonel: 1 June 2009                                  
    #rose.tab-pane.fade
      .row
        .col-md-offset-2.col-md-8
          %img.img-responsive.center-block{src: '/cadre/petri-rose.jpg'}    
          %h2.text-center Captain Rachel J. Petri-Rose
          %p
            Captain Rachel J. Petri-Rose is the operations flight commander, Air Force ROTC, Detachment 925, University of Wisconsin-Madison. As such, she oversees the cadet training program and instructs Aerospace curriculum.
          %p
            Captain Petri-Rose was raised in Racine, Wisconsin, enlisted in the Army in 1994 serving as a supply specialist. In 2004, she enlisted in the Air Force where she served as a computer networking specialist until receiving her commission from Officer Training School in 2008. Prior to her current position, she was the executive officer to the commander of the 22d Mission Support Group at McConnell AFB in Kansas.
          .panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_rose_education"} Education
              #collapse_rose_education.panel-collapse.collapse
                .panel-body
                  %ul
                    %li 2006 Bachelor of Science, Workforce Education and Development, Southern Illinois University, Carbondale
                    %li 2007 Associate in Applied Science, Information Systems Technology, Community College of the Air Force
                    %li 2008 Air and Space Basic Course, Maxwell AFB, Alabama
                    %li 2011 Practical Applications of Adult Education, Maxwell AFB, Alabama
                    %li 2012 Theories and Principles of Adult Education, Maxwell AFB, Alabama
                    %li 2012 Squadron Officer School, by correspondence
                    %li 2012 Advanced Principles of Instructional Design, Maxwell AFB, Alabama
                    %li 2012 Master of Science, Adult Education, Troy University, Montgomery, Alabama
                    %li 2012 Squadron Officer School, Maxwell AFB, Alabama
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_rose_assignments"} Assignments
              #collapse_rose_assignments.panel-collapse.collapse
                .panel-body
                  %ul
                    %li July 2008 - October 2009, Air Transportation Operations Center Duty Officer, 60 APS, Travis AFB, CA
                    %li October 2009 - January 2010, Passenger Operations Asst Officer in Charge, 60 APS, Travis AFB, CA
                    %li January 2010 - February 2011, Passenger Operations Flight Commander, 60 APS, Travis AFB, CA
                    %li February 2011- June 2011, Squadron Executive Officer, 60 LRS, Travis AFB, CA
                    %li June 2011 - August 2011, Air & Space Basic Course Flight Commander, Maxwell AFB, AL
                    %li August 2011 - October 2012, Distance Learning Programmer, Maxwell AFB, AL
                    %li October 2012 - August 2014, Squadron Officer School Flight Commander, Maxwell AFB, AL
                    %li August 2014 - March 2015, Deployment and Distribution Flight Commander, 22 LRS, McConnell AFB, KS
                    %li March 2015 - June 2015, Fuels Management Flight Commander, 22 LRS, McConnell AFB, KS
                    %li July 2015 - March 2016, Executive Officer, 22 MSG, McConnell AFB, KS
                    %li March 2016- present, Operations Flight Commander, AFROTC Det 925, University of Wisconsin-Madison
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_rose_awards"} Awards and Decoration 
              #collapse_rose_awards.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Air Force Commendation Medal with three oak leaf clusters
                    %li Joint Service Achievement Medal
                    %li Air Force Good Conduct Medal
                    %li National Defense Service Medal with one oak leaf cluster
                    %li Global War on Terrorism Expeditionary Medal
                    %li Global War on Terrorism Service Medal
                    %li Armed Forces Service Medal
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_rose_promotions"} Effective Dates of Promotion
              #collapse_rose_promotions.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Second Lieutenant: 18 June 2008
                    %li First Lieutenant: 18 June 2010
                    %li Captain: 18 June 2012                   
    #mitrosz.tab-pane.fade
      %img.img-responsive.center-block{src: '/cadre/mitrosz.jpg'}    
      .row
        .col-md-offset-2.col-md-8
          %h2.text-center Captain Thomas A. Mitrosz
          %p
            Captain Thomas A. Mitrosz is currently the Operations Flight Commander at Detachment 925 AFROTC, University of Wisconsin, Madison. His job responsibilities include overseeing the cadet training program and management of all detachment recruiting and scholarship efforts. Also, he instructs the AS 100 & AS 200 course at UW Madison and UW Whitewater.
          %p
            Captain Mitrosz earned his commission through the Air Force Reserve Officer Training Corps at the Illinois Institute of Technology Detachment 195. He has aircraft maintenance experience on the E-4B and OC/RC/WC-135 aircraft.
          .panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_mitrosz_education"} Education
              #collapse_mitrosz_education.panel-collapse.collapse
                .panel-body
                  %ul
                    %li 2009 Associate in Arts, Criminal Justice, College of DuPage, Glen Ellyn, Illinois
                    %li 2011 Bachelor of Arts, Criminology, Law, and Justice, University of Illinois at Chicago, Chicago, Illinois
                    %li 2015 Master of Arts, Criminal Justice, American Military University, Charles Town, West Virginia
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_mitrosz_assignments"} Assignments
              #collapse_mitrosz_assignments.panel-collapse.collapse
                .panel-body
                  %ul
                    %li December 2011 - March 2013: Asst. OIC, 83rd Aircraft Maintenance Unit, 55th Aircraft Maintenance Squadron, Offutt AFB, Nebraska (Deployed to OEF March 2013 – July 2013)
                    %li August 2013 - May 2014: Asst. OIC, 1st Aircraft Maintenance Unit, 55th Aircraft Maintenance Squadron, Offutt AFB, Nebraska
                    %li June 2014 - November 2014: Officer in Charge, 1st Aircraft Maintenance Unit, 55th Aircraft Maintenance Squadron, Offutt AFB, Nebraska (Deployed to OEF/OFS/OIR November 2014 – March 2015)
                    %li March 2015 - July 2015: Officer in Charge, Aircraft Support Flight, 55th Aircraft Maintenance Squadron, Offutt AFB, Nebraska
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_mitrosz_awards"} Awards and Decoration 
              #collapse_mitrosz_awards.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Air Force Commendation Medal
                    %li Air Force Achievement Medal
                    %li Meritorious Unit Award with one oak left cluster
                    %li Air Force Outstanding Unit Award
                    %li National Defense Service Medal
                    %li Global War On Terrorism Expeditionary Medal
                    %li Global War on Terrorism Service Medal
                    %li Nuclear Deterrence Operations Service Medal
                    %li Air Force Expeditionary Service Ribbon with Gold Border
                    %li Air Force Training Ribbon          
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_mitrosz_promotions"} Effective Dates of Promotion
              #collapse_mitrosz_promotions.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Second Lieutenant: 15 May 2011
                    %li First Lieutenant: 23 August 2013
                    %li Captain: 23 August 2015                 
    #hernandez.tab-pane.fade
      .row
        .col-md-offset-2.col-md-8
          %img.img-responsive.center-block{src: '/cadre/hernandez.jpg'}    
          %h2.text-center Technical Sergeant Justin Hernandez
          %p
            Technical Sergeant Justin Hernandez is the personnel NCOIC for the Air Force ROTC Detachment 925, University of Wisconsin-Madison. He enlisted in the Air Force on 17 July 2001, shortly after graduating from Billings West High School in Billings, Montana. Sergeant Hernandez began his career as a crew chief on the E-3 Sentry aircraft before cross training into the personnel career field in 2007. His time in personnel has been spent providing force support in multiple roles to include commander support staff, enlisted/officer evaluations, personnel readiness, and casualty services.
          .panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_hernandez_education"} Education
              #collapse_hernandez_education.panel-collapse.collapse
                .panel-body
                  %ul 
                    %li 2007 Airman Leadership School
                    %li 2013 Associate Degree in Aviation Maintenance Technology, Community College of the Air Force
                    %li 2013 Associate Degree in Human Resource Management, Community College of the Air Force
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_hernandez_assignments"} Assignments
              #collapse_hernandez_assignments.panel-collapse.collapse
                .panel-body
                  %ul
                    %li May 2002 - July 2007: E-3 Crew Chief, Tinker AFB, OK
                    %li July 2007 - May 2008: Commander Support Staff, Tinker AFB, OK
                    %li May 2008 - July 2010: Enlisted/Officer Evaluations, Tinker AFB, OK
                    %li July 2010 - Mar 2011: Personnel Readiness Cell, Randolph AFB, TX
                    %li Mar 2011 - October 2014: Air Force Casualty Services, Randolph AFB, TX
                    %li October 2014 - Present: AFROTC Detachment 925, University of Wisconsin-Madison, Wisconsin
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_hernandez_awards"} Awards and Decoration 
              #collapse_hernandez_awards.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Air Force Commendation Medal (2 Oak Leaf Clusters)
                    %li Army Commendation Medal
                    %li Air Force Achievement Medal
                    %li Meritorious Unit Award (1 Oak Leaf Cluster)
                    %li Air Force Outstanding Unit Award w/ Valor Device (2 Oak Leaf Clusters)
                    %li Air Force Good Conduct Medal (3 Oak Leaf Clusters)
                    %li National Defense Service Medal
                    %li Global War on Terrorism Expeditionary Medal
                    %li Global War on Terrorism Service Medal
                    %li Air Force Overseas Short Tour Ribbon
                    %li Air Force Expeditionary Service Ribbon w/ Gold Border
                    %li Air Force Longevity Service Ribbon (2 Oak Leaf Clusters)
                    %li USAF NCO PME Graduate Ribbon
                    %li Small Arms Expert Marksmanship Ribbon (Rifle)
                    %li Air Force Training Ribbon     
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_hernandez_promotions"} Effective Dates of Promotion
              #collapse_hernandez_promotions.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Airman Basic: 17 July 2001
                    %li Airman First Class: 3 September 2001
                    %li Senior Airman: 3 January 2004
                    %li Staff Sergeant: 1 October 2007
                    %li Technical Sergeant: 1 December 2013                         
    #greenhow.tab-pane.fade
      .row
        .col-md-offset-2.col-md-8
          %img.img-responsive.center-block{src: '/cadre/greenhow.jpg'}    
          %h2.text-center Technical Sergeant Shervon A. Greenhow
          %p      
            Technical Sergeant Shervon Greenhow is the NCOIC of KOM, Air Force ROTC Detachment 925, University of Wisconsin-Madison. She attended Windsor Forest High School in Savannah, Georgia. After graduating from high school, Sergeant Greenhow enlisted in the Air Force in May, 1997. She has had numerous outstanding accomplishments from being selected as Information Manager of the Quarter and Outstanding Unit Awards. She is working on completing her Community College of the Air Force Degree in Information Technology.  
          .panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_greenhow_education"} Education
              #collapse_greenhow_education.panel-collapse.collapse
                .panel-body
                  %ul
                    %li May 1997 - June 1997: Basic Training, Lackland AFB, TX
                    %li June 1997 - September 1997: Information Management Technical Training, Keesler AFB, MS
                    %li September 1997 - October 2002: 437 Communications Squadron, Charleston AFB, SC
                    %li October 2002 - April 2007: 3 Air Maintenance Squadron-Armament Flt, Elmendorf AFB, AK
                    %li July 2004 - July 2004: Information Management 7 level Technical Training, Keesler AFB, MS
                    %li August 2005 - January 2006: Communications Squadron, Ali Al Salem, Kuwait
                    %li May 2007 - February 2009: 744 Communications Group, Bolling AFB, DC
                    %li February 2009 - August 2012: 744 Communications Squadron, Andrews AFB, MD
                    %li August 2009 - November 2009: Bragram AB, Afghanistan
                    %li Aug 2012 - Present: AFROTC Detachment 925, University of Wisconsin-Madison, Wisconsin
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_greenhow_assignments"} Assignments
              #collapse_greenhow_assignments.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Air Force Achievement Medal (2 Oak Leaf Clusters)
                    %li Meritorious Unit Award
                    %li AF Outstanding Unit Award (4 Oak Leaf Cluster)
                    %li AF Good Conduct Medal (3 Oak Leaf Clusters)
                    %li National Defense Service Medal
                    %li Global War on Terrorism Expeditionary Medal
                    %li Global War on Terrorism Service Medal
                    %li Air Force Expeditionary Service Ribbon
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a{"data-toggle" => "collapse", :href => "#collapse_greenhow_awards"} Awards and Decoration 
              #collapse_greenhow_awards.panel-collapse.collapse
                .panel-body
                  %ul
                    %li Airman Basic: May 07, 1997
                    %li Airman: Nov 7, 1997
                    %li Airman First Class: September 7, 1998
                    %li Senior Airman: May 7, 2000
                    %li Staff Sergeant: April, 1, 2002
                    %li Technical Sergeant: August 1, 2012          