= render 'subnav', image_location: '/color_guard.jpg'
.who-are-we
  .container
    .page-header
      %h1{style: 'font-weight: normal;'} Who Are We?
    %p
      Detachment 925 is an Air Force ROTC program that covers the campuses of UW-Madison, UW-Whitewater, Edgewood, Madison Area Technical College and Maranatha Baptist University. Proud of high standards of professionalism and a well developed cadet run corps, Detachment 925 is one of the more distinguished detachments in the nation.
    %br
    .row
      .col-md-3
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-user-o.fa-stack-1x.fa-inverse
        %br
        %p
          Experienced cadre and a well trained staff will teach you what you need to know to become a successful officer in the Air Force. The vast number of successful alumni is a testament to the quality of training received at Det 925.
      .col-md-3
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-cubes.fa-stack-1x.fa-inverse
        %br
        %p
          With a solid blend of physical fitness, leadership studies, and extra-curricular events, members of Det 925 develop into well-rounded individuals-helping them to excel at any activity, both in and out of the ROTC program.
      .col-md-3
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-users.fa-stack-1x.fa-inverse
        %br
        %p
          A good-sized program ensures that you will not be alone going through the ROTC experience. You are certain to meet other cadets that share many of your interests and academic programs.
      .col-md-3
        %span.fa-stack.fa-3x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-fighter-jet.fa-stack-1x.fa-inverse.fa-rotate-270
        %br
        %p
          Quality training, variety in extracurricular activities, new found friends and a professional atmosphere are just a few of the many reasons why becoming part of the Detachment 925 Air Force ROTC program could be a sound decision for your future
    = render 'awards'
  %div{style: 'padding: 20px;'}
.where-are-we
  .container.text-center
    .page-header
      %h1 Where Are We?
    %iframe#map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.6906169393724!2d-89.41248884911862!3d43.06897407904325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8807acc500770eb1%3A0xe3c302c1ce735d65!2s1433+Monroe+St%2C+Madison%2C+WI+53711!5e0!3m2!1sen!2sus!4v1481167751130" width="100%" height="450" frameborder="0" style="border:0" scrollwheel='false' allowfullscreen)
  %div{style: 'padding: 20px;'}
.contact-us
  .container.text-center
    .page-header
      %h1 Contact Us
    = bootstrap_form_for :user do |f|
      .row
        .col-md-6
          = f.text_field :name, hide_label: true, placeholder: 'Your Name'
          = f.email_field :email, hide_label: true, placeholder: 'Your Email'
          = f.email_field :email_confirmation, hide_label: true, placeholder: 'Confirm Your Email'
        .col-md-6
          = f.text_area :message, hide_label: true, placeholder: 'Your Message'
      .row
        .col-lg-12
          = f.submit 'Send Message', disabled: true, style: 'width: 200px;', class: 'btn btn-danger'
