.page-header
  %h1= "#{page.to_s.capitalize} Management"
  %ul.nav.nav-pills
    %li{class: "#{'active' if page == :home}"}= link_to 'Cadet Area', '/cadet_area'
    %li{class: "#{'active' if page == :user}"}= link_to 'Cadet Management', users_path
    %li{class: "#{'active' if page == :event}"}= link_to 'Event Management', events_path
    %li{class: "#{'active' if page == :flight}"}= link_to 'Flight Management', flights_path